{% for network in networks %}
object network {{ network["name"] }}
 description {{ network["description"] }}
 {{ network["type"] }} {{ network["value"] }}
{% endfor %}
{% for service in services %}
object service {{ service["name"] }}
 description {{ service["description"] }}
{% if service["type"] in ["tcp", "udp"] %}
 service {{ service["type"] }} destination eq {{ service["value"] }}
{% else %}
 service {{ service["type"] }}
{% endif %}
{% endfor %}
{% for type, group in object_groups.items() %}
{% for name, attr in group.items() %}
object-group {{ type }} {{ name }}
 description {{ attr["description"] }}
{% for member in attr["members"] %}
 {{ type }}-object object {{ member }}
{% endfor %}
{% endfor %}
{% endfor %}
